<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<!-- В href ссылка на страницу заказов -->
<a th:href="@{/orders}" style="float:right;">
    <b>ЗАКАЗЫ &#10549;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a th:href="@{/}" style="float:right;">
    <b>ГЛАВНАЯ &#10549;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
   <!-- Итерируемся по каждому товару -->
    <tr class="product" th:each="pr: ${products}">
        <td>
            <table>
                <tr>
                    <td>
                        <!-- В src ссылка изображение товара -->
                        <a th:if="${pr.isImage}" th:href="@{|/products/${pr.productId}|}">
                            <!-- В src ссылка изображение товара -->
                            <img width="300" height="300" class="product__image" th:src="@{|/products/${pr.productId}/image|}" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{|/products/${pr.productId}|}">
                            <!-- В text название товара -->
                            <b class="product__productName" th:text="${pr.productName}"></b>
                        </a>
                    </td>
                    <td>
                        <!-- В text цена товара -->
                        <b class="product__price" th:text="${pr.price}"></b>
                    </td>
                </tr>
                <!-- В text описание товара -->
                <tr>
                    <td class="product__description" th:text="${pr.description}"></td>
                </tr>
                <tr>
                    <td>
                    	<!--
                    		В action ссылка на изменение количества товара в корзине.
                    		Передается параметр запроса action=[minus|plus]
                    	-->
                        <form th:action="@{|/cart/products/${pr.productId}|}" method="post">
                            <button th:if="${pr.inCartQuantity} > 0" name="action" value="minus">-</button>
                            <!-- В text количество товара в корзине -->
                            <span class="product__inCartQuantity" th:if="${pr.inCartQuantity} > 0" name="quantity" th:text="${pr.inCartQuantity}"></span>
                            <button th:if="${pr.inCartQuantity} > 0" name="action" value="plus">+</button>
                            <button th:if="${pr.inCartQuantity == 0}" name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <!-- В text суммарная стоимость заказа -->
            <b class="total" th:text="${total}"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <!--
            	В action ссылка на страницу оформления заказа.
            	В if true, если в корзине есть товары, false, если нет
            -->
            <form th:if="${!products.isEmpty()}" th:action="@{|/cart/buy|}" method="post">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>
