<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Настройка витрины</title>
</head>
<body>
<div class="header">
    <h3>Настройка витрины</h3>
</div>
<div class="data">
    <table>
        <thead>
        <tr>
            <th>Картинка</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Управление</th>
        </tr>
        </thead>
        <tbody>
        <tr class="add_product">
            <form th:action="@{|/config/products|}" method="post" enctype="multipart/form-data" style="display:inline;">
            <td>
            </td>
            <td>
                <input class="product__productName" name="productName" required="" />
            </td>
            <td>
                <input type="number" step="0.01" min="0.01" class="product__price" name="price" required="" />
            </td>
            <td>
                <input class="product__description" name="description" />
            </td>
            <td>
                <input type="file" name="file" accept="image/*" />
                <input type="submit" value="Добавить" />
            </td>
            </form>
        </tr>
        <tr class="product" th:each="pr: ${products}">
            <form th:action="@{|/config/products/${pr.productId}|}" method="post" enctype="multipart/form-data" style="display:inline;">
            <td>
                <img width="100" height="100" class="product__image_img" th:if="${pr.isImage}" th:src="@{|/products/${pr.productId}/image|}" alt="product_image" />
            </td>
            <td>
                <input class="product__productName" name="productName" required="" th:value="${pr.productName}" />
            </td>
            <td>
                <input type="number" step="0.01" min="0.01" class="product__price" name="price" required="" th:value="${pr.price}" />
            </td>
            <td>
                <input class="product__description" name="description" th:value="${pr.description}" />
            </td>
            <td>
                <input class="product__productId" name="product_id" type="hidden" th:value="${pr.productId}" />
                <input type="file" name="file" accept="image/*" />
                <span th:if="${pr.isImage}">
                    <label for="delImage">Удалить изображение</label>
                    <input type="checkbox" name="delImage" />
                </span>
                <input type="submit" value="Изменить" />
                <button formnovalidate="" name="_method" value="delete">Удалить</button>
            </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
