<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Витрина товаров</title>
</head>
<body>
    <!-- В href ссылка на страницу заказов -->
    <a th:href="@{/orders}" style="float:right;">
        <b>ЗАКАЗЫ &#10549;</b>
    </a>
    <!-- В href ссылка на корзину -->
    <a th:href="@{/cart}" style="float:right;">
        <b>КОРЗИНА &#10549;</b>
    </a>
    <!-- В href ссылка на главную страницу -->
    <a th:href="@{/}" style="float:right;">
        <b>ГЛАВНАЯ &#10549;</b>
    </a>
    <div class="product" style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <!-- В src ссылка изображение товара -->
            <img width="300" height="300" class="product__image" th:if="${pr.isImage}" th:src="@{|/products/${pr.productId}/image|}" />
        </p>
        <p>
            <!-- В text название товара -->
            <b class="product__productName" th:text="${pr.productName}"></b>
            <!-- В text цена товара -->
            <b class="product__price" th:text="|${pr.price} руб.|"></b>
        </p>
        <p>
            <!-- В text описание товара -->
            <span class="product__description" th:text="${pr.description}"></span>
        </p>
        <!--
		В action ссылка на изменение количества товара в корзине.
		Передается параметр запроса action=[minus|plus]
	-->
        <form method="post">
            <button name="action" value="minus">-</button>
            <!-- В text количество товара в корзине -->
            <span class="product__inCartQuantity" name="quantity" th:text="${pr.inCartQuantity}"></span>
            <button name="action" value="plus">+</button>
            <!-- В if true, если товар еще не был добавлен в корзину, false, если уже был -->
            <button th:if="${pr.inCartQuantity == 0}" name="action" value="plus">В корзину</button>
            <button th:if="${pr.inCartQuantity} > 0" name="action" value="delete">&#10007;</button>
        </form>
    </div>
</body>
</html>
