<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Витрина товаров</title>
</head>

<body>
<form>
    <!-- В href ссылка на страницу заказов -->
    <a th:href="@{/orders}" style="float:right;">
        <b>ЗАКАЗЫ &#10549;</b>
    </a>
    <!-- В href ссылка на корзину -->
    <a th:href="@{/cart}" style="float:right;">
        <b>КОРЗИНА &#10549;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <p>
                    <label for="search">Найти: </label>
                    <!-- В value значение со строкой поиска товара, если ничего не ищем, то пустая строка -->
                    <input id="search" style="width:300px;" name="search" th:value="${search}" />
                    <button name="action" onclick="document.querySelector('.form__pageNumber').value='0'">&#128269;</button>
                </p>
                <p>
                    <label for="sort">Сортировка: </label>
                    <!-- В selected true, если выбран соответствующий пункт -->
                    <select id="sort" name="sort" onchange="document.querySelector('.form__pageNumber').value='0'; this.form.submit()">
                        <option value="NO" th:selected="${sort == 'NO'}">нет</option>
                        <option value="ALPHA" th:selected="${sort == 'ALPHA'}">по алфавиту</option>
                        <option value="PRICE" th:selected="${sort == 'PRICE'}">по цене</option>
                    </select>
                </p>
                <p>
                    <label for="pageSize">Число товаров: </label>
                    <!-- В selected true, если выбран соответствующий пункт -->
                    <select id="pageSize" name="pageSize" onchange="document.querySelector('.form__pageNumber').value='0'; this.form.submit()">
                        <option value="5" th:selected="${paging.getSize() == 5}">5</option>
                        <option value="10" th:selected="${paging.getSize() == 10}">10</option>
                        <option value="20" th:selected="${paging.getSize() == 20}">20</option>
                        <option value="50" th:selected="${paging.getSize() == 50}">50</option>
                        <option value="100" th:selected="${paging.getSize() == 100}">100</option>
                    </select>
                </p>
                <p>
                    <!--
                        В if true, если выбрана не первая страница.
                        В value номер предыдущей страницы.
                    -->
                    <input class="form__pageNumber" type="hidden" name="pageNumber" th:value="${paging.getNumber()}" />
                    <button th:if="${paging.hasPrevious()}" th:onclick="|document.querySelector('.form__pageNumber').value='${paging.getNumber()-1}'|">&lt;</button>
                    <!-- В text номер текущей страницы -->
                    <span th:text="${'Страница: '+ ( paging.getNumber() + 1)}"></span>
                    <!--
                        В if true, если выбрана не последняя страница.
                        В value номер следующей страницы.
                    -->
                    <button th:if="${paging.hasNext()}" th:onclick="|document.querySelector('.form__pageNumber').value='${paging.getNumber()+1}'|">&gt;</button>
                </p>
            </td>
        </tr>
        <tr><td>
        <!-- картинки товаров отображаются в 3 колонки за счет стиля -->
        <div style="display:grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
            <div class="product" th:each="pr: ${products}">
                <table>
                    <tr>
                        <td>
                            <!-- В href ссылка на страницу с карточкой товара -->
                            <a th:if="${pr.isImage}" th:href="@{|/products/${pr.productId}|}">
                                <!-- В src ссылка изображение товара -->
                                <img width="300" height="300" class="product__image" th:src="@{|/products/${pr.productId}/image|}" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{|/products/${pr.productId}|}">
                                <!-- В text название товара -->
                                <b class="product__productName" th:text="${pr.productName}"></b>
                            </a>
                        </td>
                        <td>
                            <!-- В text цена товара -->
                            <b class="product__price" th:text="${pr.price}"></b>
                        </td>
                    </tr>
                    <tr>
                        <!-- В text описание товара -->
                        <td class="product__description" th:text="${pr.description}"></td>
                    </tr>
                    <tr>
                        <td>
                            <!--
                            В action ссылка на изменение количества товара в корзине.
                            Передается параметр запроса action=[minus|plus]
                            -->
                            <button th:if="${pr.inCartQuantity} > 0" formmethod="post" th:formaction="@{|/main/products/${pr.productId}|}" name="action" value="minus">-</button>
                            <!-- В text количество товара в корзине -->
                            <span class="product__inCartQuantity" th:if="${pr.inCartQuantity} > 0" name="quantity" th:text="${pr.inCartQuantity}"></span>
                            <button th:if="${pr.inCartQuantity} > 0" formmethod="post" th:formaction="@{|/main/products/${pr.productId}|}" name="action" value="plus">+</button>
                            <!-- В if true, если товар еще не был добавлен в корзину, false, если уже был -->
                            <button th:if="${pr.inCartQuantity == 0}" formmethod="post" th:formaction="@{|/main/products/${pr.productId}|}" name="action" value="plus" style="float:right;">В корзину</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </td></tr>
    </table>
</form>
</body>

</html>
