<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<!-- В href ссылка на корзину -->
<a th:href="@{/cart}" style="float:right;">
    <b>КОРЗИНА &#10549;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a th:href="@{/}" style="float:right;">
    <b>ГЛАВНАЯ &#10549;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <!-- Итерируемся по заказам -->
    <tr class="order" th:each="ord: ${orders}">
        <td>
            <h2>
            	<!--
            		В text номер заказа.
            		В href ссылка на страницу заказа.
            	-->
                <a th:text="|Заказ №${ord.orderNumber}|" th:href="@{|/orders/${ord.orderId}|}"></a>
            </h2>
            <table>
                <!-- Итерируемся по товарам в заказе -->
                <tr class="product" th:each="pr: ${ord.products}">
                    <!-- В text название товара, количество штук и стоимость -->
                    <td class="product__info" th:text="|${pr.productName} (${pr.quantity} шт.) ${pr.amount} руб.|"></td>
                </tr>
            </table>
            <p>
                <!-- В text общая сумма заказа -->
                <b class="orders__total" th:text="|Сумма: ${ord.total} руб.|"></b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <!-- В text суммарная стоимость заказа -->
            <h2 th:if="${!orders.isEmpty()}" class="total" th:text="|Итого: ${total} руб.|"></h2>
        </td>
    </tr>
</table>
</body>

</html>
